.ajax-cart {
      position: fixed;
      top: 0;
      right: 0;
      left: 60%;
      background: white;
      height: 100%;
      padding: 1rem;
      overflow-y: scroll;

      h2 {
            text-align: center;
            margin-block-start: 0.5rem;
            margin-block-end: 1.5rem;
      }

      .cart-details {
            width: 100%;
            margin-block: 2rem;
      }

      .total-items {
            display: flex;
            justify-content: space-between;
            margin-block: 1rem;

            .total_quantity > span,
            .total_amount > span {
                  font-weight: bold;
            }
      }

      button.proceed-checkout-btn {
            font-size: 0.75rem;
            display: block;
            font-weight: 550;
            width: min(22rem, calc(100% - 1rem));
            padding-block: 1.25rem;
            margin-inline: auto;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid white;
            background-color: var(--brand-black);
            color: white;
            margin-block-start: 0.5rem;
            text-transform: uppercase;
      }

      .cart-product {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            place-items: center;

            .cart-product-img {
                  grid-column: 1/4;
            }

            .item-details {
                  grid-column: 4/11;
                  display: flex;
                  flex-direction: column;

                  .item-name {
                        font-weight: bold;
                  }
                  .item-title {
                        font-weight: 550;
                        color: var(--g);
                  }

                  .edit-item-qty {
                        margin-block-start: 1rem;
                        border: 1px solid var(--brand-black);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0.25rem 0.7rem;
                        width: 6rem;
                        border-radius: 2.5px;

                        :not(span:nth-child(2)) {
                              font-weight: 550;
                              font-size: 1.25rem;
                              cursor: pointer;
                        }
                  }
            }

            .price {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  height: 100%;

                  p:nth-child(1) {
                        font-size: 1.25rem;
                  }

                  p:nth-child(2) {
                        font-size: 0.9rem;
                        font-weight: 550;
                        cursor: pointer;
                  }
            }
      }
}
