section {
      margin-block: 4rem;

      .featured-products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;

            .featured-card {
                  position: relative;
                  aspect-ratio: 1;
                  /* border-radius: 15px; */
                  place-items: center;
                  /* border: 0.5px solid black; */

                  img {
                        inline-size: 100%;
                        border-radius: 15px;
                  }

                  p {
                        position: absolute;
                        /* font-weight: 550; */
                        font-size: 0.8rem;
                        margin: 1rem 0.5rem;
                        background: white;
                        padding: 0.25rem 0.8rem;
                        border-radius: 15px;
                  }

                  button {
                        bottom: 10%;
                        left: 25%;
                        padding: 0.5rem 1.4rem;
                        background: black;
                        border: none;
                        color: white;
                        border-radius: 7.5px;
                        cursor: pointer;
                  }
            }
      }
}
