#footer {
      background-color: #201d12;
      color: white;

      .footer {
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding-block: 3rem;

            .logo {
                  align-self: center;
                  font-size: 6rem;
                  color: var(--slight-warm-white);
            }

            ul {
                  list-style-type: none;
                  margin-block: 1rem;
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;

                  li {
                        font-size: 0.9rem;

                        a {
                              text-decoration: none;
                              color: inherit;
                        }
                  }
            }
      }

      .others {
            padding-block: 1rem;
            display: flex;
            gap: 2rem;
            font-size: 0.9rem;
      }
}
