.group-nav {
      display: flex;
      justify-content: space-between;
      margin-block-start: 5rem;
      list-style-type: none;
      max-width: calc(100% - 10rem);
      margin-inline: auto;

      li a {
            text-decoration: none;
            text-transform: uppercase;
            color: rgb(38, 36, 36);
            padding: 0.4rem 1.2rem;
            border-radius: 25px;
            border: 1px solid var(--soft-shadow);
            /* font-weight: 550; */
            font-size: 0.7rem;
            transition: background 0.2s;
      }

      li a:hover,
      li a:active {
            background: rgb(26, 26, 26);
            color: white;
            border: none;
      }
}
