header {
      display: flex;
      align-items: center;
      margin-block: 0rem;
      margin-block: 1rem;
}

nav.desktop-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      ul {
            display: flex;
            list-style: none;
            font-weight: 550;
            font-size: 1rem;

            li {
                  margin-right: 2rem;
                  cursor: pointer;
            }
      }

      .icon-button-list {
            display: flex;

            > *:not(.login-btn) {
                  margin-right: 2rem;
            }

            button[title="Cart"] {
                  background-color: transparent;
                  border: none;
                  cursor: pointer;
            }

            ul.user-options {
                  position-anchor: --user-menu;
                  position-area: bottom-right;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  border: none;
                  background: white;
                  max-width: 18rem;
                  border-radius: 15px;
                  font-size: 0.9rem;
                  margin-top: 2.5rem;
                  right: 0;

                  > li {
                        padding-block: 0.5rem;
                        padding-inline: 2.5rem;
                  }

                  > li:first-child {
                        padding-top: 1rem;
                  }
                  > li:last-child {
                        padding-bottom: 1rem;
                  }
            }
      }
}

.secondary-nav > ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      gap: 1rem;
      padding-block-start: 1rem;

      li {
            word-spacing: -2px;
            font-size: 0.89rem;
            cursor: pointer;
            transition: text-decoration 5s linear;
      }

      li:hover {
            text-decoration: underline;
      }
}
