.special-btn {
      position: relative;

      .rounded-btn {
            padding: 0.5rem;
            display: inline-flex;
            align-items: center;
            border: 1.5px solid #b9b8b8;
            border-radius: 20px;
            gap: 0.5rem;
            text-decoration: none;
            color: #434242;
            font-size: 0.8rem;
            font-weight: 550;
            cursor: pointer;

            svg {
                  color: rgb(194, 36, 36) 2;
            }
      }

      .options {
            position: absolute;
            background: white;
            width: 10rem;
            overflow: hidden;
            top: 50%;
            left: 100%;
            padding-block-start: 1rem;
            padding-inline: 1rem;
            border-radius: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            ul {
                  list-style-type: none;
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;

                  li {
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 1rem;
                        cursor: pointer;
                  }
            }
      }
}
