search {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 5rem;

      & > svg {
            position: absolute;
            inset-inline-start: 1em;
      }

      & > input {
            appearance: none;
            caret-color: var(--text-1);
            inline-size: 100%;
            block-size: 2.5rem;
            flex: 1;
            font-size: 1rem;
            line-height: 1.1;
            color: var(--text-1);
            background: white;
            padding-inline: 3rem 1rem;
            outline: none;
            border: none;
            border-radius: 3rem;
      }

      /* on focus, highlight sibling svg paths */
      & > input:focus ~ svg > path {
            fill: var(--brand-primary);
      }

      @media (width >= 500px) {
            & > button {
                  display: none;
            }
      }

      @media (width <= 500px) {
            justify-self: flex-end;

            & > :is(svg, input) {
                  display: none;
            }
      }
}

.search_filter {
      margin-top: 1rem;
      display: flex;
      width: 100%;

      align-items: center;
      gap: 2rem;

      .search-customer {
            width: 60%;
            padding: 0.7rem 1.2rem;
            border-radius: 10px;
      }

      .options {
            display: flex;
            gap: 1rem;
            align-items: center;

            .option {
                  position: relative;
                  width: 5rem;
                  border-radius: 2px;

                  input[type="text"] {
                        width: 100%;
                        -webkit-appearance: none;
                        padding: 0.4rem 1.2rem;
                        border: none;
                  }

                  svg {
                        position: absolute;
                        top: 25%;
                        left: 75%;
                        color: #5c5b5b;
                  }
            }
      }
}
