.add-product {
      margin-left: 2rem;
      width: 60%;

      h2,
      h3,
      h4 {
            margin-block: 1rem;
      }

      .form-group {
            margin-bottom: 1rem;

            input[type="text"],
            input[type="number"],
            input[type="file"],
            textarea,
            select {
                  width: min(25rem, calc(100% - 5rem));
                  padding: 0.5rem 1rem;
                  margin-block-start: 0.5rem;
                  font-size: 14px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  box-sizing: border-box;
            }

            textarea {
                  min-height: 80px;
            }

            label {
                  display: block;
                  margin-bottom: 8px;
                  font-size: 0.9rem;
                  font-weight: 550;
                  color: rgb(24, 22, 22);
            }

            input[type="color"] {
                  width: 3rem;
                  height: 2.5rem;
            }
      }
      a.add-image {
            display: block;
            background-color: black;
            color: white;
            width: 8rem;
            border-radius: 5px;
            border: none;
            padding: 0.5rem;
            font-weight: 550;
            font-size: 0.9rem;
            cursor: pointer;
      }
      button:not([class]) {
            width: min(25rem, calc(100% - 5rem));
            background-color: blue;
            margin-block: 2rem;
            color: white;
            border-radius: 5px;
            border: none;
            padding: 0.8rem;
            font-weight: 550;
            cursor: pointer;
      }

      .preview {
            display: flex;
            gap: 8px;
            margin-top: 10px;
      }

      .preview img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border: 1px solid #ccc;
            border-radius: 4px;
      }

      button {
            font-weight: bold;
            padding: 8px 16px;
            margin-top: 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
      }

      .submit {
            width: 50%;
            padding: 16px 48px;
            background-color: #007bff;
            color: white;
            margin-bottom: 2rem;
      }

      .remove {
            background-color: #ff4d4f;
            color: white;
      }
      .variations {
            margin-top: 3rem;
      }

      .variation {
            background-color: #f9f9f9;
            padding: 16px;
            border-radius: 6px;
            margin-bottom: 12px;
      }
}

/* .container {
      max-width: 800px;
      margin: 30px auto;
      padding: 24px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-family: Arial, sans-serif;
} */
