.user-table {
      width: 95%;
      border-collapse: collapse;
      margin-top: 2rem;

      th {
            color: #5c5c5c;
            font-weight: 600;
            font-size: 0.9rem;

            &:not(:first-child) {
                  border: 1px solid #d6d6d6;
            }

            &:last-child {
                  border-right: none;
            }
      }

      td {
            font-size: 0.8rem;
            font-weight: 525;

            &:not(:first-child) {
                  color: #363636;
                  border: 1px solid #eee;
            }

            &:first-child {
                  color: #1b1b1b;
            }

            &:last-child {
                  border-right: none;
            }
      }
}

.user-table th,
.user-table td {
      border-block: 1px solid #dddddd;
      padding: 0.5rem;
      text-align: left;
}

.admin-actions {
      display: flex;
      margin-block-start: 1rem;
      gap: 1rem;
}

.user-details {
      position: absolute;
      background: white;
      top: 0;
      right: 0;
      width: 40%;
      height: 100vh;
      overflow-y: scroll;
      transition: all 0.2s ease-in-out;

      .admin-actions {
            display: flex;
            margin-block-start: 1rem;
            gap: 0.5rem;
      }

      .section {
            padding: 0.5rem 2rem;
      }

      .user-details-header {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 0.5rem;
            margin-left: 2rem;
      }

      hr {
            margin-block: 0.5rem;
      }

      .user-info {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            .username,
            .role {
                  display: flex;
                  align-items: center;
            }

            .username {
                  gap: 0.8rem;
                  font-size: 1.2rem;
            }

            .role {
                  gap: 0.5rem;
                  font-weight: 550;
                  color: #7e7878;
            }
      }

      .message-user {
            display: flex;
            gap: 1rem;
            margin-block: 1.5rem;
      }

      .details-field {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            margin-left: 1rem;

            span:first-child {
                  color: #363636;
                  font-size: 0.8rem;
                  font-weight: 550;
            }
            span:last-child {
                  margin-bottom: 2rem;
                  font-size: 0.95rem;
            }
      }
}
