.admin-dashboard {
      display: flex;
      gap: 2rem;
      max-height: 100vh;

      .dashboard-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            height: 50px;
      }

      .admin-main {
            width: 100%;
            margin-inline: 2rem;
            overflow-y: scroll;
      }

      .admin-logout {
            margin-bottom: 5rem;
            padding: 0.5rem;
            background-color: rgb(255, 198, 198);
            color: rgb(165, 0, 0);
            border-radius: 10px;
            font-size: 0.85rem;
            font-weight: 550;
            cursor: pointer;
            a {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
            }
      }
}

.dashboard-summary {
      padding: 24px;
      background-color: #f5f5f5;
      min-height: 100vh;
}

.stats-grid {
      display: flex;
      gap: 16px;
      margin-bottom: 32px;
}

.stat-card {
      background: white;
      padding: 1rem;
      border-radius: 8px;
      flex: 1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-title {
      font-size: 14px;
      color: #777;
}

.stat-value {
      font-size: 1.8rem;
      font-weight: bold;
}

.stat-change {
      font-weight: bold;
}

.stat-change.green {
      color: green;
}

.stat-change.blue {
      color: blue;
}

.stat-change.indigo {
      color: indigo;
}

.chart-card {
      background: white;
      padding: 16px;
      border-radius: 8px;
      margin-bottom: 32px;
}

.chart-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 8px;
}

.orders-card {
      background: white;
      padding: 16px;
      border-radius: 8px;
      margin-bottom: 24px;
}

.card-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 12px;
}

.orders-table {
      width: 100%;
      border-collapse: collapse;
}

.orders-table th,
.orders-table td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
      text-align: left;
}

.status.delivered {
      color: green;
}

.notifications-card {
      background-color: #fff8e1;
      color: #8a6d3b;
      padding: 12px;
      border-radius: 8px;
}

.nav-link.active {
      background-color: #3e72bc; /* darker persistent background */
      color: white;
}

body {
      background: #f9fafb;
}

.product-main {
      display: flex;
      padding: 2rem;
}

.product-content {
      flex: 3;
}

.product-sidebar {
      flex: 1;
      margin-left: 2rem;
}

.product-header {
      margin-bottom: 1rem;
      display: flex;
      align-items: end;
      justify-content: space-between;

      .add-product-cta {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            padding: 0.5rem 1rem;
            background: blue;
            color: white;
            border-radius: 8px;
            cursor: pointer;
      }

      span {
            font-size: 0.9rem;
            font-weight: bold;
      }
}

.breadcrumb {
      font-size: 0.875rem;
      color: #888;
}

.product-title {
      font-size: 1.5rem;
      margin: 0.5rem 0;
}

.status-badge {
      background: #fde0e3;
      color: #a42f47;
      padding: 2px 6px;
      border-radius: 6px;
      font-size: 0.75rem;
      margin-right: 0.5rem;
}

.status-banner {
      background: #ecfdf5;
      border: 1px solid #a7f3d0;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 8px;
      font-size: 0.95rem;
      position: relative;

      svg {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0.5rem;
      }
}

.status-actions button {
      margin-right: 1rem;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background: #4f46e5;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.8rem;
}

.tabs button {
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      background: #f3f4f6;
      cursor: pointer;
      border-radius: 6px;
}

.tabs .active {
      background: #e5e7eb;
      font-weight: bold;
}

.card {
      background: white;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-bottom: 1.5rem;
      font-size: 0.8rem;

      h3 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
      }
}

.product-table {
      width: 100%;
      border-collapse: collapse;
}

.product-table th,
.product-table td {
      padding: 0.75rem;
      border-bottom: 1px solid #eee;
      text-align: left;
}

.search-input {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 6px;
}
