.shopping-cart {
      display: grid;
      grid-template-columns: repeat(9, 1fr) 2rem repeat(3, 1fr);
      gap: 3rem;

      header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                  font-weight: 550;
                  font-size: 1.25rem;
            }
      }

      .cart-items {
            grid-column: 1/9;
      }

      .cart-product {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            border-bottom: 1px solid black;

            .cart-product-details {
                  grid-column: 1/4;
                  display: flex;
                  flex-direction: row-reverse;

                  img {
                        width: 50%;
                  }
                  .details {
                        width: 50%;
                        .product-name {
                              margin-block-start: 2rem;
                              font-size: 0.9rem;
                              color: #545454;
                              font-weight: 500;
                              text-transform: uppercase;
                        }

                        .product-title {
                              font-size: 1.25rem;
                              font-weight: 550;
                              color: #5d5959;
                        }

                        .product-price {
                              font-size: 1.3rem;
                              margin-block: 1rem;
                        }
                  }
                  .product-available {
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: baseline;
                        gap: 1rem;
                  }
            }

            .product-details {
                  grid-column: 4/-1;

                  .edit-product-qty {
                        margin-block-start: 1rem;
                        border: 1px solid var(--brand-black);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0.25rem 0.7rem;
                        width: 6rem;
                        border-radius: 2.5px;

                        :not(span:nth-child(2)) {
                              font-weight: 550;
                              font-size: 1.25rem;
                              cursor: pointer;
                        }
                  }

                  p {
                        color: rgb(196, 0, 0);
                  }
            }
            .product-color {
                  margin-block-start: 1rem;
                  display: flex;
                  align-items: end;
                  flex-direction: column-reverse;
                  height: 80%;
                  justify-content: space-between;

                  .chosen-product-color {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        span {
                              width: 30px;
                              height: 30px;
                              border-radius: 50%;
                        }
                  }
            }
      }
}

aside.order-summary {
      grid-column: 9/-1;
      background: var(--slight-warm-white);
      padding: 0rem 1.5rem;
      max-height: 85vh;

      .sales-tax-info {
            text-wrap: pretty;
            line-height: 1.5;
            border-left: 4px solid blue;
            font-size: 0.9rem;
            font-weight: 500;
            padding-left: 1rem;
            margin-block-start: 1.5rem;
            margin-block-end: 1.5rem;
      }

      .order-detail {
            display: flex;
            justify-content: space-between;
            margin-block: 0.5rem;
            font-size: 0.85rem;
            color: #545454;

            &.order-total {
                  margin-block-start: 2.5rem;
                  color: var(--brand-black);
                  font-weight: bold;
            }
      }

      #promo-label {
            display: block;
            font-size: 0.9rem;
            font-weight: bold;
            margin-block-start: 1.5rem;
            margin-block-end: 1rem;
      }

      .promo-code {
            position: relative;

            input {
                  -webkit-appearance: none;
                  display: block;
                  width: 100%;
                  padding: 0.5rem;
                  border: none;
                  outline: none;
                  border-bottom: 2px solid var(--brand-black);
            }

            button {
                  position: absolute;
                  top: 0;
                  right: 0;
                  height: 80%;
                  padding-inline: 1rem;
                  transform: translate(-10%, 10%);
                  background-color: green;
                  color: white;
                  border: none;
                  border-radius: 10px;
            }
      }

      > a.checkout-btn {
            display: block;
            text-decoration: none;
            color: var(--brand-black);
            font-weight: bold;
            padding: 1rem 6rem;
            background-color: rgba(255, 234, 3, 0.657);
            margin-block: 2rem;
      }
}
