.checkout {
      display: grid;
      grid-template-columns: repeat(9, 1fr) 2rem repeat(3, 1fr);
      gap: 3rem;

      .checkout-process {
            grid-column: 1/9;
      }

      h2 {
            font-size: 1.2rem;
      }

      .card-details {
            margin-block-start: 2rem;
            .form-group {
                  label {
                        display: block;
                        font-size: 0.65rem;
                        margin-block-end: 0.4rem;
                        font-weight: bold;
                  }
            }

            input,
            select {
                  width: 60%;
                  padding: 0.5rem 1.5rem;
                  font-size: 0.85rem;
                  margin-block-end: 1.5rem;
            }

            .location {
                  display: flex;
                  gap: 2rem;
                  width: 60%;

                  .form-group {
                        display: block;

                        > input#country,
                        > input#postal-code,
                        > input#exp,
                        > input#cvc {
                              display: inline;
                              width: 100%;
                        }
                  }
            }
      }

      .shipping-info-form {
            h2 {
                  margin-block: 1.5rem;
            }
            form {
                  label.country {
                        display: block;
                        font-size: 0.65rem;
                        margin-block-end: 0.4rem;
                        margin-block-start: 1rem;
                        font-weight: bold;
                  }

                  .form-group {
                        label {
                              display: block;
                              font-size: 0.65rem;
                              margin-block-end: 0.4rem;
                              font-weight: bold;
                        }
                  }

                  input,
                  select {
                        width: 60%;
                        padding: 0.5rem 1.5rem;
                        font-size: 0.85rem;
                        margin-block-end: 1.5rem;
                  }

                  .location {
                        display: flex;
                        gap: 2rem;
                        width: 60%;

                        .form-group {
                              display: block;
                              > input#busstop {
                                    display: inline;
                                    width: 100%;
                              }

                              > input#postal-code {
                                    display: inline;
                                    width: 100%;
                              }
                        }
                  }

                  a.submit-info-btn {
                        display: flex;
                        justify-content: center;
                        text-decoration: none;
                        padding-block: 0.8rem;
                        width: 60%;
                        color: white;
                        background: var(--brand-black);
                  }
            }
      }
      .confirm-order {
            display: flex;
            gap: 2rem;

            input[type="button"] {
                  padding: 0.5rem 2rem;
                  color: white;
                  background: green;
                  border: none;
                  border-radius: 10px;
                  font-weight: 450;
                  cursor: pointer;
            }
      }
}
