.user-dashboard {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .user-dashboard-nav {
            grid-column: 1/3;
      }
}

/* Container */
.dashboard-container {
      min-height: 100vh;
      overflow: scroll;
}

/* Sidebar */
.sidebar {
      display: flex;
      flex-direction: column;
      background-color: #f5f8ff; /* equivalent of bg-gray-800 */
      color: black;
      padding: 1rem;
      width: 20vw;
      transition: width 0.3s ease;
      max-height: 100vh;
      height: 100vh;
}

.sidebar.collapsed {
      width: 4rem;
}

/* Sidebar Header */
.sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
}

/* Store Title */
.store-title {
      font-size: 1.25rem;
      font-weight: bold;
}

.store-title.hidden {
      display: none;
}

/* Menu Button */
.menu-button {
      background: none;
      border: none;
      color: black;
      font-size: 1.25rem;
      cursor: pointer;
}

/* Navigation Links */
.nav-links {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
}

.nav-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.75rem;
      padding: 0.5rem;
      border-radius: 0.375rem;
      text-decoration: none;
      color: rgb(15, 13, 13);
      transition: background-color 0.2s ease;
      cursor: pointer;
}

.nav-link:hover {
      background-color: #c7dff2; /* hover:bg-gray-700 */
}

.nav-text {
      font-size: 0.85rem;
      font-weight: 550;
}
