.avatar {
      display: grid;
      place-items: center;
      width: 2rem;
      aspect-ratio: 1;
      background: rgb(62, 3, 152);
      color: white;
      border-radius: 50%;
      padding: 0em;
}
