.avatar {
      display: grid;
      place-items: center;
      background: rgb(62, 3, 152);
      color: white;
      border-radius: 50%;
      padding: 0.3em 1em;
      cursor: pointer;
      anchor-name: --user-menu;
}
