*,
*::after,
*::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      color: var(--text-1);
}

img {
      max-width: 100%;
}

/* background: #f5f5f5; */
.logo {
      font-size: 1.8rem;
      font-weight: bold;
}

.login-btn {
      border-radius: 10px;
      font-size: 0.8rem;
      font-weight: 550;
      padding: 0.85em 2em;
      border: none;
      background-color: var(--text-1);
      color: #fff;
      cursor: pointer;
}

.header {
      background: var(--slight-warm-white);
      min-height: 89vh;
}

main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      color: var(--text-1);

      .hero {
            padding-block: 3rem;
            h1 {
                  font-size: 4.3rem;
                  color: var(--text-1);
                  line-height: 1.3;
            }

            p {
                  margin-top: 1.7rem;
                  font-size: 1.1rem;
            }
      }

      .ctas {
            margin-top: 2rem;
            display: flex;
            gap: 2rem;

            > a {
                  text-decoration: none;
                  padding: 1.045rem 2.2rem;
                  border-radius: 25px;
                  font-weight: 550;
                  transition: background 0.2s ease-in, border 0.2s ease-in;

                  &.primary-cta {
                        background: var(--dusty-gold-1);
                        color: #fff;

                        &:hover {
                              background: var(--dusty-gold-dark);
                        }
                  }

                  &.secondary-cta {
                        color: black;
                        /* background-color: var(--soft-shadow); */
                        background-color: var(--fading-yellow);
                        &:hover {
                              border: 2px solid var(--text-1);
                        }
                  }
            }
      }
}

@keyframes rotating {
      0% {
            tranform: rotate(0deg);
      }
      50% {
            tranform: rotate(360deg);
      }
      100% {
            tranform: rotate(0deg);
      }
}

