*,
*::after,
*::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      color: var(--text-1);
}

img {
      max-width: 100%;
}

/* background: #f5f5f5; */
.logo {
      font-family: "Funnel Display";
      font-size: 2em;
      font-weight: bold;
}

.login-btn {
      border-radius: 15px;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 550;
      padding: 0.85em 2em;
      border: none;
      background-color: var(--text-1);
      color: #fff;
      cursor: pointer;
}

.header {
      /* background: var(--slight-warm-white); */
      /* background: #f3f2ed; */
      background: #f3f2ed;
      min-height: 89vh;
}

main.home-main {
      color: var(--text-1);

      .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 3rem;

            h1 {
                  font-size: min(2.5rem, 5vw);
                  word-spacing: 0.1ch;
                  letter-spacing: 0.05em;
                  color: var(--text-1);
                  line-height: 1.3;
                  text-transform: uppercase;
                  margin-top: 5rem;
            }

            p {
                  margin-top: 1.7rem;
                  /* font-size: 1rem; */
            }
      }

      .ctas {
            margin-top: 4rem;
            display: flex;
            gap: 2rem;

            > a {
                  text-decoration: none;
                  text-transform: uppercase;
                  font-weight: 550;
                  font-size: 0.8rem;
                  padding: 1.045rem 2.2rem;
                  border-radius: 25px;
                  letter-spacing: 0.01rem;
                  transition: background 0.2s ease-in, border 0.2s ease-in;

                  &.primary-cta {
                        background: var(--dusty-gold-1);
                        color: #fff;

                        &:hover {
                              background: var(--dusty-gold-dark);
                        }
                  }

                  &.secondary-cta {
                        color: black;
                        /* background-color: var(--soft-shadow); */
                        background-color: var(--fading-yellow);
                        &:hover {
                              border: 2px solid var(--text-1);
                        }
                  }
            }
      }
}

@keyframes rotating {
      0% {
            tranform: rotate(0deg);
      }
      50% {
            tranform: rotate(360deg);
      }
      100% {
            tranform: rotate(0deg);
      }
}
