@font-face {
      font-family: "Funnel Display";
      src: url("../../public/FunnelDisplay-VariableFont_wght.ttf") format("ttf");
}

body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      /* font-family: "Funnel Display"; */
      text-wrap: balance;
}

p {
      line-height: 1.5;
      text-wrap: pretty;
}
