@font-face {
      font-family: "Funnel Display";
      src: url("../../public/FunnelDisplay-VariableFont_wght.ttf") format("ttf");
}
@font-face {
      font-family: "Jost";
      src: url("../../public/Jost-VariableFont_wght.ttf") format("ttf");
}

body {
      font-family: "Jost";
      font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      /* font-family: "Funnel Display"; */
      text-wrap: balance;
}

p {
      line-height: 1.5;
      text-wrap: pretty;
}

.link {
      text-decoration: none;
      color: var(--text-1);
}
